---
import { IoChevronForward } from 'react-icons/io5'
---

<div class="my-4 flex items-center gap-1">
  <a href="/" class="underline underline-offset-2">Index</a>
  <IoChevronForward className="opacity-50" />
  <span class="text-orange-500 font-mplus font-bold"><slot /></span>
</div>
